{%- for variable in inputs %}
variable "{{ variable.name }}" {
  description = "{{ variable.description }}"
  type = {{ variable.type }}{% if variable.default is not none %}
  default = {{ variable.default }}{% endif %}
}
{% endfor %}
